.Button {
    padding: 10px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial;
    cursor: pointer;
}